.md-editor {
    width: 100%;
    min-height: 500px;
}

.textbox {
    appearance: none;
	border: 1px black solid;
    border-radius: 10px;
    padding: 7px 10px;
}

form input, form label {
    display: block;
    margin-bottom: 5px;
}

form button {
    margin-right: 5px;
}

.grid-col-2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:1rem;
}