.md-editor {
    width: 100%;
    min-height: 500px;
}

textarea {
    appearance: none;
    border-radius: 10px;
    padding: 7px 10px;
}

form input, form label {
    display: block;
    margin-bottom: 5px;
}

form button {
    margin-right: 5px;
}